// 图片
.@{global-prefix}-img {
  vertical-align: middle;
}

// 建议块
.@{global-prefix}-suggest {
  font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier,
    monospace;
  font-size: 12px;
  padding: 12px;
  border-radius: 2px;
  background: rgba(0, 0, 0, 0.05);
}

// 忽略动画
.@{global-prefix}-ignore-ani {
  transition: none !important;
  animation: none !important;

  * {
    transition: none !important;
    animation: none !important;
  }
}
