
// @import 'ant-design-vue/lib/style/themes/default.less';
@import 'ant-design-vue/lib/style/themes/variable.less';
// @primary-color: green;
// @font-size-base: 12px;

// 动画前缀
@ani-prefix: ani;
// 全局样式前缀
@global-prefix: g;

@color-green: green;
.font-bold() {
  font-weight: 500;
}